<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MidClass.Properties.Settings.EndClass_Connect" connectionString="Data Source=&quot;localhost, 1433&quot;;Initial Catalog=EndClass;Persist Security Info=True;User ID=sa;Password=&quot;Database 2019&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>